    <div class="section" [style.background-color]="childData?.backgroundColor">
        <div>
            <h2>{{ childData?.name }}'s Spaarpot</h2>
        </div>
        <div class="container">
            <div class="row savingsdetail">
                <div class="col-md-6">
                    <main>
                        <div class="savings-info">
                            <h4>Spaargeld:</h4>
                            <input type="text" [value]="formatAmount(savings)" readonly>
                            <button id="toggleLynnPanel" class="toggle-panel" title="Geld in of uit je spaarpot doen" (click)="togglePanel()"><i
                                    class="fas fa-piggy-bank"></i></button>

                        </div>
                        <div id="lynnPanel" [@slideInOut]="panelState">
                            <input type="number" [(ngModel)]="savings" id="lynnEditSavings" step="0.01" >
                            <div class="buttons-row">
                                <div class="buttons-row-item">
                                    <button class="lynn-mutation-button addButton" (click)="addMoney(0.50)">+€0.50</button>
                                    <button class="lynn-mutation-button addButton" (click)="addMoney(1.00)">+€1.00</button>
                                    <button class="lynn-mutation-button addButton" (click)="addMoney(5.00)">+€5.00</button>
                                    <button class="lynn-mutation-button addButton" (click)="addMoney(10.00)">+€10.00</button>
                                </div>
                                <div class="buttons-row-item">
                                    <button class="lynn-mutation-button substractButton"
                                        (click)="addMoney(-0.50)">-€0.50</button>
                                    <button class="lynn-mutation-button substractButton"
                                        (click)="addMoney(-1.00)">-€1.00</button>
                                    <button class="lynn-mutation-button substractButton"
                                        (click)="addMoney(-5.00)">-€5.00</button>
                                    <button class="lynn-mutation-button substractButton"
                                        (click)="addMoney(-10.00)">-€10.00</button>
                                </div>
                                <div id="lynnMutationFeedback" class="mutationFeedback"></div>
                            </div>
                        </div>
                        <div class="savings-bar" id="lynnSavingsBar" style="background-color: blue;">
                            <div class="savings-fill" [style.width.%]="savingsPercentage"></div>
                            <div class="savings-remainder" [style.width.%]="100 - savingsPercentage"></div>
                          </div>                          
                        <h4>Prijs:</h4>
                        <input type="number" [(ngModel)]="price" step="0.01" placeholder="Hoeveel kost het?" (input)="updateProgressBar()">>
                        <button (click)="checkAffordability()" class="btn-primary">Check of je dit kunt kopen</button>
                        <div [ngClass]="{'result-message': true, 'success': canAfford, 'failure': !canAfford}">
                            {{ canAfford ? "Je kunt dit kopen! Dan heb je nog €" + (savings - price).toFixed(2) + " over
                            in
                            je spaarpot." : "Je kunt dit helaas niet kopen. Je hebt niet genoeg spaargeld." }}
                        </div>
                    </main>
                </div>
                <div class="col-md-6">
                    <img src="https://i.graphicmama.com/uploads/2023/3/6414793b7befa-602a4f0ed6583-Flying%20Robot%20Cartoon%20Animated%20GIFs.gif"
                        alt="Lynn's Robot GIF" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
