body {
    font-family: 'Gill Sans', cursive, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  
  #lynnSection {
    background-color: #ebcbff;
    /* Light shade of orange for Lynn */
  }
  
  #eviSection {
    background-color: #e6f5ff;
    /* Light shade of blue for Evi */
  }
  
  
  button {
    font-family: 'Gill Sans', cursive, sans-serif;
    font-size: 18px;
    background-color: #FFD700;
    /* Bright and light yellow color for buttons */
    border: none;
    color: #333;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    /* Rounded border for buttons */
    border: 2px solid #FFD700;
    /* Add a 2px solid border with bright yellow color */
    border-radius: 5px;
    /* Rounded border */
  }
  
  button:hover {
    background-color: #FFEC8B;
    /* Lighter shade of yellow on hover */
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    padding: 40px;
  }
  
  h4 {
    font-size: 30px;
    color: #333;
  }
  
  .section {
    border-radius: 10px;
    /* Add rounded corners to the section */
  }
  
  
  input[type="number"],
  input[type="text"] {
    font-family: 'Gill Sans', cursive, sans-serif;
    font-size: 32px; /* Increase the font size */
    padding: 12px; /* Increase the padding */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .btn-primary {
    font-family: 'Gill Sans', cursive, sans-serif;
    background-color: #f76c6c;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    /* Rounded border for buttons */
    border: 2px solid #f76c6c;
    /* Add a 2px solid border with bright yellow color */
    box-shadow: none;
    /* Remove the default button box shadow */
  }
  
  .btn-primary:hover {
    background-color: #ff0000;
    /* Lighter shade of yellow on hover */
  }
  
  .btn-primary:hover {
    border-color: #ff1b1b;
    /* Specify the desired bright hue color */
  }
  
  .btn-primary:focus,
  .btn-primary:focus-visible,
  .btn-primary:active {
    background-color: #f76c6c;
    /* Use the desired button background color on focus, active, and hover */
    outline: none;
    /* Remove the default button focus outline */
    box-shadow: none;
    /* Remove the default button box shadow */
  
    color: #ffffff;
  }
  
  .savings-bar {
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* Ensure rounded corners are visible */
    position: relative;
  }
  
  .savings-fill {
    height: 100%;
    /* Adjust the color as desired */
    transition: width 0.3s ease-in-out;
  }
  
  .savings-remainder {
    height: 100%;
    background-color: #7FFF7F;
    /* Adjust the color as desired */
    width: 0%;
    transition: width 0.3s ease-in-out;
  }
  
  .result-message {
    font-family: 'Gill Sans', cursive, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .result-message.success {
    background-color: #7FFF7F;
    /* Green background color for success message */
    color: #9300e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    /* Add a slight shadow effect */
  }
  
  .result-message.failure {
    background-color: #FF7F7F;
    /* Red background color for failure message */
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    /* Add a slight shadow effect */
  }
  
  .buttons-row {
    display: flex;
    flex-direction: column;
  }
  
  .buttons-row-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .buttons-row-item button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .savingsdetail 
      {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* Add rounded corners to the main section */
  }
  
  
  .mutationFeedback {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mutationFeedback p {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  .addButton{
    background-color: rgb(196, 255, 178);
  }
  
  .substractButton{
    background-color: rgb(255, 152, 152);
  }